<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <title>Jesus and God | Bible & Churches</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/scripture.css' %}">
</head>



<body style="margin:0;">
    <header class="header">
        <a href="/"><h1 style="color: white;">Jesus and God®</h1></a>
        <nav>
            <a href="/login" style="color: white;    text-decoration: none;">Signup</a>
            <a href="/login" style="color: white;    text-decoration: none;">Login</a>
        </nav>
    </header>

   <div class="subheader">
      <div class="container flex">
        <div class="subheadings">
          <h2>Viewing:</h2>
          <h3 id="viewing"></h3>
        </div>
        <div class="search-area flex">
          <button onclick="searchButton()">🔎</button>
          <input
            type="text"
            id="search-input"
            placeholder="ex. 'John 3:16-19' OR 'kingdom'"
            size="30"
            onkeydown="if (event.keyCode == 13) searchButton()"
          />
        </div>
      </div>
    </div>
    <div class="container crumbs">
      <div id="breadcrumbs"></div>
    </div>
    <main class="container">
      <h4 class="list-heading"><span>Select a Book</span></h4>
      <div id="book-list" class="list-container"></div>
    </main>
    <footer><p class="footer-company">© 2013-2020 Jesus and God, Inc.</p></footer>
 
    <script type="text/javascript" src="{% static 'js/my_key.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/books.js' %}"></script>

</body>

</html>
